@media (min-width: 992px) {
  .bs-sidebar.affix {
    overflow: auto;
  }
}
.bs-sidenav {
  font-size: inherit;
}

div.container {
  padding-left: 5px;
  padding-right: 5px;
}

div[role="main"] {
  padding: 0;
}

div[role="main"] em {
  font-style: normal;
  text-decoration: underline wavy green;
}

div[role="main"] ul {
  list-style-type: square;
}

div[role="main"] li p {
  margin-top: 10.95px;
  margin-bottom: 10.95px;
}

div[role="main"] > ul, div[role="main"] > ol {
  padding-left: 1.5em;
}

div[role="main"] > ul ul,
div[role="main"] > ol ol,
div[role="main"] > ul ol,
div[role="main"] > ol ul {
  border-left: 2px dashed grey;
  padding-left: 1.5em;
}

blockquote {
  border-color: grey;
  border-left-width: 5px;
}

blockquote p {
  font: inherit;
  line-height: inherit;
}